/* font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #181818;
  transition: all 0.4s ease;
}
/* color */
/* primary-color:  */

/* Section margin */

.s-mt {
  margin-top: 120px;
}
.p-mr {
  margin-right: 12px;
}
.p-mt {
  margin-top: 12px;
}
.btn-primary {
  background: #fd6e0a;
  padding: 12px 24px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  border: 0px;

  font-weight: 700;
}
.btn-primary:hover {
  background: none;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn-secondary {
  background: none;
  color: #fd6e0a;
  padding: 12px 24px;
  font-size: 20px;
  border: 1px solid #fd6e0a;

  font-weight: 700;
}
.btn-secondary:hover {
  background: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.text-primary {
  color: #fd6e0a;
}

.container {
  margin: 50px 180px;
}

/* Header */
header {
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-size: 55%, 5.5%;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px !important;
}

nav .logo {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
nav ul li a:hover {
  color: #fd6e0a;
}

/* Hero Part */
.hero-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 36px !important;
}

.hero-part .sub-heading {
  color: #474747;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 600;
}

.hero-part .heading {
  font-size: 76px;
  font-weight: 700;
}
.hero-part .pera {
  color: #757575;
  font-size: 14px;
  line-height: 30px;
}
.hero-part .image {
  display: flex;
  justify-content: end;
}

.hero-part .image img {
  width: 64%;
}

/* About Section */

.about-section {
  text-align: center;
  padding: 64px;
  background-color: #fff8f3;
}
.section-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.section-pera {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.about-info-container {

  display: flex;
  justify-content: space-around;

}
.about-info-title {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; 
}
.about-info-detail {
  color: #474747;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

/* What I Do Section */
.wid-section{
  text-align: center  ;

}
.skill-container{
  display: flex;
  margin-top: 50px;
  gap: 18px;
}

.skill{
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 24px;
}

.skill img{
  width: 44px;
}

.skill .section-title{
  font-size: 18px;
}
.skill .section-pera{
  text-align: left;
}

/* Resume Section  */
.resume-contents{
display: flex;

}

